<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>

<<header class="site-header sticky-top py-1">
    <nav class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="/" aria-label="Product">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
        </a>
        <a class="py-2 d-none d-md-inline-block" href="/">Home</a>
        <a class="py-2 d-none d-md-inline-block" href="rent">Rent a car</a>
        <a class="py-2 d-none d-md-inline-block" href="/registration">Registration</a>
        <a class="py-2 d-none d-md-inline-block" href="/login">Login</a>
    </nav>
</header><div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
<!--Logout-->
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

    <div class="carousel-inner">
        <div class="carousel-item active carousel-item-start">
            <img src="https://get.wallhere.com/photo/sunset-city-cityscape-night-reflection-skyline-skyscraper-evening-morning-New-York-City-horizon-panorama-dusk-triple-screen-metropolis-spire-downtown-dawn-urban-area-human-settlement-180114.jpg" height="250" width=100%>
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>WebCar</h1>
                    <p>Excellent service of your enjoyment </p>

                </div>
            </div>
        </div>
    </div>
</div>



</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img src="https://st.depositphotos.com/1384048/2724/v/950/depositphotos_27247869-stock-illustration-vector-background-travel.jpg" width="300" height="160">

            <h2>For trips</h2>
            <p>Take your family on a tour and give them unforgettable weekend</p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="http://photo.popart.hk/newver/newspic/image/2015%2004/Sony%20RX1-X%20Rumour%201.jpg" width="180" height="160" alt="photo">
            <h2>For shooting</h2>
            <p>Make yourself a cool gay in instagram</p><br>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="https://clipart-best.com/img/taxi-logos/taxi-logos-clip-art-21.png" width="190" height="160">
            <h2>For business</h2>
            <p>My money on rent cars</p><br>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">American Mustang. <span class="text-muted">It’ll blow your mind.</span></h2>
            <p class="lead">To get to know a country, you must have direct contact with the earth. It's futile to gaze at the world through a car window</p>
            <p><a class="btn btn-lg btn-primary" href="/login">Rent it</a></p>
        </div>
        <div class="col-md-5">
            <img src="https://naurok-test.nyc3.cdn.digitaloceanspaces.com/uploads/test/156448/10719/978870_1562953042.png" width="500">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">English noble <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">It's a waste of energy to be angry with a man who behaves badly, just as it is to be angry with a car that won't go.</p>
            <p><a class="btn btn-lg btn-primary" href="/login">Rent it</a></p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="https://iaahbr.tmgrup.com.tr/1228ff/0/0/0/0/0/0?u=https://iahbr.tmgrup.com.tr/album/2020/10/10/okan-burukun-servet-degerindeki-arabasi-ilgi-odagi-oldu-1602309376636.jpeg&amp;mw=752" width="450">

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">German soul <span class="text-muted">Enjoy every moment</span></h2>
            <p class="lead">The winner ain't the one with the fastest car its the one who refuses to lose.</p>
            <p><a class="btn btn-lg btn-primary" href="/login">Rent it</a></p>
        </div>
        <div class="col-md-5">
            <img src="https://4.bp.blogspot.com/-vVRdJjWQSKI/WoIHA1vDc5I/AAAAAAAHfNU/SEd43jff8SggLQhA5LNhVefiyR_od1lzgCLcBGAs/s1600/COCHES%2B%2528PORSCHE%2529%2B%252862%2529.png" width="500">

        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->


<!-- FOOTER -->
<footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>©2021 RanepAss company · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>
<!--</main>-->
<!--<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>-->




</body>
</html>